# === OS ===
.DS_Store
Thumbs.db
Desktop.ini

# === Editors / IDEs ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Python ===
**/.venv/
**/__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# === C++ ===
**/*.o
**/*.out
**/*.exe
**/*.a
**/*.so
**/*.dll
**/app
**/main
**/build/
